

html {
    height:100%;

}

body {
    height: 100%;
}

#gallery {
    height: 100%;
}

#firstRow {
    height: 57%;
}

#secondRow {
    height: 25%;
}

#thirdRow {
    height: 15%;
}

div.wrapper{
    width: 100%;
    height: 100%;
}

div.firstRowImageBlock{
    width: 100%;
    height: 100%;
    position: relative;
}

#firstImageBlock {
    float: left;
    position: relative;
}

#firstImage {
    float: left;
    position: relative;
}


#firstMetadata {
    float: left;
    position: relative;
    overflow: hidden;
}


.firstRowMetaData {
    text-align: center;
}

.metatext {
    font-size: 3vmin;
    font-family: "Roboto";
}

#firstImg {
    position: absolute;
    left: 15%;
    max-height: 100%;
    max-width: 80%;
}

div.firstRowImage {
    width: 55%;
    height: 100%;
}

div.firstRowMetaData{
    width:30%;
    height: 100%;
    position: relative;
    float: left;
}


img {
    border: solid black 3px;
    border-radius: 10px
}

#secondRowImg {
    margin: .5%;
    max-width: 14.5%;
    max-height: 100%;
    height: auto;
}

#secondRow :first-child{
    margin-left: 1.2%;
}


#thirdRowImage {
    max-width: 7.5%;
    max-height: 100%;
    height: auto;
    margin: .5%;
}

div.spacer {
    height: 1%;
}